BaiduPCS-Go/*
calibre/*
dconf/*
libreoffice/*
pulse/*
systemd/*
nvim/lazy-lock.json
fcitx5/*
fcitx/*
ibus/*
mimeapps.list
BaiduPCS-Go/*
dconf/*
xournalpp/*
zsh/.zcompdump
pavucontrol.ini
QQ/*
QtProject.conf
alacritty/themes
baidunetdisk/*
chromium/*
flameshot/*
neofetch/*
obsidian/*
yarn/*
qBittorrent/*
KDE/*
Logseq/*
Trolltech.conf
baloofilerc
bluedevilglobalrc
cef_user_data/*
dolphinrc
gtk-3.0/*
gtk-4.0/*
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
kde.org/*
kded5rc
kded6rc
kdedefaults/*
kdeglobals
kglobalshortcutsrc
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kxkbrc
libaccounts-glib/*
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powermanagementprofilesrc
session/*
systemsettingsrc
trashrc
unity3d/*
user-dirs.dirs
user-dirs.locale
xarchiver/*
xsettingsd/*
