BaiduPCS-Go/*
calibre/*
dconf/*
libreoffice/*
pulse/*
systemd/*
nvim/lazy-lock.json
fcitx5/*
fcitx/*
ibus/*
mimeapps.list
BaiduPCS-Go/*
dconf/*
xournalpp/*
zsh/.zcompdump
pavucontrol.ini
QQ/*
QtProject.conf
alacritty/themes
baidunetdisk/*
chromium/*
flameshot/*
neofetch/*
obsidian/*
yarn/*
qBittorrent/*
